<h1>Listing gens</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gens.each do |gen| %>
      <tr>
        <td><%= link_to 'Show', gen %></td>
        <td><%= link_to 'Edit', edit_gen_path(gen) %></td>
        <td><%= link_to 'Destroy', gen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gen', new_gen_path %>
