<div id="fb-root"></div>

<script>
  //this script relies on the existance of a function named facebookLoginStatusChangeCallback(response) that expects
  //a Facebook login response object. This callback can handle the object any way you need it to.

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= app_id %>',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.3'
    });

    <% if use_authentication -%>
    //Check for the login status of the user. Not necessary where not login scheme is specified
      FB.getLoginStatus(function(response) {
        facebookLoginStatusChangeCallback(response);
      });
    <% end -%>
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  //facebookLoginStatus() is the function that should be called from a login button.
  function facebookLogin() {
    FB.getLoginStatus(function(response) {
      facebookLoginStatusChangeCallback(response);
    });
  }
</script>