<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_company.name %>
</p>

<%= link_to 'Edit', edit_test_company_path(@test_company) %> |
<%= link_to 'Back', test_companies_path %>
